



    <form
    [formGroup]="addForm"
    #addServiceForm="ngForm"
    class="flex flex-col mt-2 p-2 pb-4 overflow-hidden">
            <div class="prose prose-sm ">
                <h2>Add Service</h2>
            </div>
            <mat-form-field
                class="flex-auto gt-xs:pr-3">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:hashtag'"></mat-icon>
                <mat-error *ngIf="addForm.get('name').hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pr-3">
                <mat-label>Duration</mat-label>
                <input matInput formControlName="duration">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                <mat-error *ngIf="addForm.get('duration').hasError('required')">
                    Duration is required
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pr-3">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:banknotes'"></mat-icon>
                <mat-error *ngIf="addForm.get('price').hasError('required')">
                    Price is required
                </mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary" class="mb-2" [disabled]="addForm.disabled" (click)="addService()">
                <span *ngIf="!addForm.disabled">
                    Create
                </span>
                <mat-progress-spinner
                    *ngIf="addForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
    </form>
