<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="barber-card-front">
        <ng-content select="[barberCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="barber-card-back">
        <ng-content select="[barberCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="barber-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[barberCardExpansion]"></ng-content>
    </div>

</ng-container>
