<barber-loading-bar ></barber-loading-bar>
<div class="flex flex-col flex-auto min-w-0 h-full">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 h-full">
            <div class="flex justify-end">
                <button mat-flat-button color="primary" class="mb-2" (click)="showAdd()">
                    <mat-icon>add</mat-icon> Create New
                </button>
            </div>
            <barber-card class="flex mb-3 bg-inherit">
                <div class="m-2 font-bold border-e-2 w-1/6 lg:w-1/6">Id</div>
                <div class="m-2 font-bold border-e-2 w-3/6 lg:w-4/6">Name</div>
                <div class="m-2 font-bold w-2/6 lg:w-1/6">Operations</div>
            </barber-card>
            <div class="flex-auto overflow-y-auto" style="height: calc( 100vh - 215px)">
                <barber-card class="flex mb-3" *ngFor="let category of categories">
                    <div class="m-4 w-1/6 lg:w-1/6  border-e-2">{{category.id}}</div>
                    <div class="m-4 w-3/6 lg:w-4/6  border-e-2">{{category.name}}</div>
                    <div class="m-2 w-2/6 lg:w-1/6 flex justify-end">
                        <button mat-flat-button color="accent" class="mr-1" (click)="showUpdate(category)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-flat-button color="warn" (click)="deleteDialog(category)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </barber-card>
            </div>

    </div>

</div>
