
<div class="flex-auto p-6 sm:p-10">



    <div class="prose prose-sm ">
        <h2>Appearance</h2>
    </div>
    
    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field
                class="flex-auto gt-xs:pl-3">
                <mat-label>Select User</mat-label>
                <mat-select>
                    <mat-option *ngFor="let user of users" [value]="user.id">{{user.firstName+' '+user.lastName}}</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:user'"></mat-icon>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pr-3">
                <mat-label>Full Name</mat-label>
                <input matInput>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pl-3">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pl-3">
                <mat-label>Phone</mat-label>
                <input matInput>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
            </mat-form-field>
            <mat-form-field
                class="flex-auto gt-xs:pl-3">
                <mat-label>Phone</mat-label>
                <input matInput type="time">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:clock'"></mat-icon>
            </mat-form-field>
        </div>
    </form>
</div>